@{
    ViewBag.Title = "Index";
    <a href="~/Views/Shared/_Layout.cshtml">~/Views/Shared/_Layout.cshtml</a>
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>ASN TECHNOSOFT</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="~/Content/assets/img/favicon.png" rel="icon">
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">

   
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

    @*<header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo">
                <a href="index.html"><img src="~/Content/assets/img/ASNLogo1.jpg" alt="" class="img-fluid p-1"></a>
            </div>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="active" href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                    <li><a href="@Url.Action("Services", "Home")">Services</a></li>
                    <li><a href="@Url.Action("Pricing", "Home")">Pricing</a></li>
                    <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                    <li><a href="@Url.Action("Login", "Account")">Login</a></li>
                    <li><a href="@Url.Action("PersonalDetails", "Account")">Register</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>









        </div>
    </header>*@

    <!-- End Hero -->

    <main id="main">

        <section id="hero" class="d-flex justify-cntent-center align-items-center">
            <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

                <!-- Slide 1 -->
                <div class="carousel-item active">
                    <div class="carousel-container">
                        <h2 class="animate__animated animate__fadeInDown">Welcome to <span>ASN TECHNOSOFT</span></h2>
                        <p class="animate__animated animate__fadeInUp">Create the professionals of tomorrow by enabling their development today. The ASN platform has been specifically designed to help managing and growing institutions, skill development, and real-world skills, along with academic excellence.</p>
                        <a href="about.html" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item">
                    <div class="carousel-container">
                        <h2 class="animate__animated animate__fadeInDown">Web Development</h2>
                        <p class="animate__animated animate__fadeInUp">ASN Technosoft is a complete IT enabled service provider letting your on line presence get wings with our customized services such as Website Development, Software Development, Helpdesk Services, Computer Training, Consultant and more.</p>
                        <a href="services.html" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item">
                    <div class="carousel-container">
                        <h2 class="animate__animated animate__fadeInDown">360 ServicesFrom Development Till Support</h2>
                        <p class="animate__animated animate__fadeInUp">We have expertise in Software Development & IT enabled services. Whatever is your need...He have a solution for you.</p>
                        <a href="services.html" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
                </a>

                <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
                </a>

            </div>
        </section>
        <section class="features">
            <div class="container">

                <div class="section-title">
                    <h2>Features</h2>
                    <p>“Computer system or related group of system which collects and present management information to a business in order to facilitate control.” Charted instate of Management Accountant</p>
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-md-5">
                        <img src="~/Content/assets/img/features-1.svg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-4">
                        <h3>Role of the ASN Technosoft in organization.</h3>
                        <p class="fst-italic">
                            Providing Information to various Departments Collecting Data From Various Sources “The system ensures that an appropriate data is collected from the various sources, processed, and sent further to all the needy destinations. The system is expected to fulfill the information needs of an individual, a group of individuals, the management functionaries: the managers and the top management.”
                        </p>

                    </div>
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-md-5 order-1 order-md-2">
                        <img src="~/Content/assets/img/features-4.svg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1">
                        <h3>Impact of the ASN Technosoft</h3>
                        <p class="fst-italic">
                            A disciplined information reporting system creates a structured data and a knowledge base for all the people in the organization.
                        </p>
                        <p class="fst-italic">
                            Easy way to tracking and monitoring of the functions Managers are informed about the progress, achievements and shortfalls in the probable trends in the various aspects of business. This helps in forecasting and long- term perspective planning.
                        </p>
                        <p class="fst-italic">The ASN creates another impact in the organization which relates to the understanding of the business itself.</p>
                    </div>
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-md-5">
                        <img src="~/Content/assets/img/features-3.svg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5">
                        <h3>Purpose</h3>
                        <p class="fst-italic">These people involve in knowledge are of business. In BOC, those people help to maintain a effective connection system with in organizations and branches, those specially from IT and communication field. These people’s part will make organization productive organization. Operational Level • Those people involving day works, Staff and Labours. Those people will only follow instruction of Middle managers, They will use information to make decision in day to day progress and they will give more information, feed back to High level people to make decisions</p>

                        <p class="fst-italic"> These people will make decision by using various information given by strategic level and their experiences</p>
                        <p class="fst-italic"> Deciding Promotion in Area by analyzing current situations.</p>

                    </div>
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-md-5 order-1 order-md-2">
                        <img src="~/Content/assets/img/features-2.svg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1">
                        <h3>Institute Management System</h3>
                        <p class="fst-italic">
                            IMS is a system to support the decision making function in the organization. The difference lies in defining the elements of the management system. However, in today's world a computerized business processing system generating information for the people in the organization to meet the information needs decision making to achieve the corporate objective of the organization. In any organization, small or big, a major portion of the time goes in data collection, processing, documenting it to the people. Hence, a major portion of the overheads goes into this kind of unproductive work in the organization.
                        </p>
                        <p class="fst-italic">
                            Every individual in an organization is continuously looking for some information which is needed to perform his/her task. Hence, the information is people-oriented and it varies with the nature of the people in the organization.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End Features Section -->

    </main><!-- End #main -->
    @*<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>*@

    <script src="~/Content/assets/vendor/aos/aos.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/Content/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/assets/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->




</body>

</html>