@model IMS.Models.StudentModel

@{
    Layout = null;
}


<!DOCTYPE html>

<html lang="en">
<!--begin::Head-->
<head>
    <base href="../../../">
    <meta charset="utf-8">
    <title>Metronic | Wizard 1</title>
    <meta name="description" content="Wizard examples">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <!--end::Fonts-->
    <!--begin::Page Custom Styles(used by this page)-->
    <link href="/Content/dist/assets/css/pages/wizard/wizard-1.css?v=7.0.4" rel="stylesheet" type="text/css">
    <!--end::Page Custom Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="/Content/dist/assets/plugins/global/plugins.bundle.css?v=7.0.4" rel="stylesheet" type="text/css">
    <link href="/Content/dist/assets/plugins/custom/prismjs/prismjs.bundle.css?v=7.0.4" rel="stylesheet" type="text/css">
    <link href="/Content/dist/assets/css/style.bundle.css?v=7.0.4" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/Content/dist/assets/media/logos/ASNLogo.jpg" />
</head>
<!--end::Head--><!--end::Head-->
<!--begin::Body-->
<body>
    <div class="modal-dialog modal-lg modal-xl modal-dialog-scrollable" role="document" id="createStaff">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Photo and Sign</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center my-10 px-8">
                    <div class="col-xl-12 col-xxl-10">
                        <!--begin::Wizard Form-->
                        @using (Html.BeginForm("FileUploadModal", "Admission", FormMethod.Post, new { @id = "CreateForm", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @*<form class="form" id="kt_form">*@
                            <!--begin::Wizard Step 1-->
                        <div class="row">
                                <h5>@Html.DisplayFor(model => model.NameOnCertificate)</h5> 
                        </div>
                        <br/>
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    @Html.HiddenFor(model => model.InstituteId)
                                    @Html.HiddenFor(model => model.StudentId)
                                    @Html.HiddenFor(model => model.CourseId)
                                    @Html.HiddenFor(model => model.BatchId)
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.PhotoUpload, htmlAttributes: new { @class = "font-size-h6 font-weight-bolder text-dark" }) &nbsp;&nbsp;&nbsp;&nbsp;
                                        <div class="image-input image-input-empty image-input-outline" id="kt_image_3" style="background-image: url(/Content/dist/assets/media/users/blank.png)">
                                            @if (Model.PhotoUpload != null)
                                            {
                                                <div class="image-input-wrapper" style="background-image: url('/UserImages/@Model.Photofilename')"></div>
                                            }
                                            else
                                            {
                                                <div class="image-input-wrapper" style="background-image: url(/Content/dist/assets/media/users/blank.png)"></div>
                                            }

                                            <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change Photo">
                                                <i class="fa fa-pen icon-sm text-muted"></i>
                                                <input type="file" id="PhotoImageFile" name="PhotoImageFile" accept=".png, .jpg, .jpeg" onchange="checkFileDetails();"  />
                                                <input type="hidden" name="profile_avatar_remove" />
                                            </label>

                                            <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel Photo">
                                                <i class="ki ki-bold-close icon-xs text-muted"></i>
                                            </span>

                                            <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove" data-toggle="tooltip" title="Remove Photo">
                                                <i class="ki ki-bold-close icon-xs text-muted"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <!--end::Input-->
                                </div>

                                <div class="col-xl-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.SignUpload, htmlAttributes: new { @class = "font-size-h6 font-weight-bolder text-dark" })&nbsp;&nbsp;&nbsp;&nbsp;
                                        <div class="image-input image-input-empty image-input-outline" id="kt_image_2" style="background-image: url(/Content/dist/assets/media/users/blank.png)">
                                            @if (Model.SignUpload != null)
                                            {
                                                <div class="image-input-wrapper" style="background-image: url('/UserImages/@Model.Signfilename')"></div>
                                            }
                                            else
                                            {
                                                <div class="image-input-wrapper" style="background-image: url(/Content/dist/assets/media/users/blank.png)"></div>
                                            }

                                            <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change Sign">
                                                <i class="fa fa-pen icon-sm text-muted"></i>
                                                <input type="file" id="SignImageFile" name="SignImageFile" accept=".png, .jpg, .jpeg" onchange="checkFileDetails();" />
                                                <input type="hidden" name="profile_avatar_remove" />
                                            </label>

                                            <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel Sign">
                                                <i class="ki ki-bold-close icon-xs text-muted"></i>
                                            </span>

                                            <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove" data-toggle="tooltip" title="Remove Sign">
                                                <i class="ki ki-bold-close icon-xs text-muted"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="d-flex justify-content-between border-top mt-5 pt-10">

                                <input type="submit" id="btnSubmit" value="Upload Photo and Sign" name="btnSubmit" class="btn btn-primary font-weight-bold text-uppercase px-9 py-4" />

                            </div>
                            <!--end::Wizard Actions-->
                            @*</form>*@
                        }
                        <!--end::Wizard Form-->
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        var avatar1 = new KTImageInput('kt_image_1');
        var avatar2 = new KTImageInput('kt_image_2');
        var avatar3 = new KTImageInput('kt_image_3');
    </script>
    @*<script>

            $("#PhotoImageFile").on("change", function () {
                debugger;
                const fi = document.getElementById('PhotoImageFile');
                if (fi.files.length > 0) {
                    for (const i = 0; i <= fi.files.length - 1; i++) {
                        const fsize = fi.files.item(i).size;
                        const file = Math.round((fsize / 1024));
                        if (file >= 5120) {
                            Swal.fire("Oops!", "File too Big, please select a file less than 5 kb", "error");

                        }
                    }
                }
            })


            function checkFileDetails() {
                const fi = document.getElementById('SignImageFile');
                if (fi.files.length > 0) {
                    for (const i = 0; i <= fi.files.length - 1; i++) {
                        const fsize = fi.files.item(i).size;
                        const file = Math.round((fsize / 1024));
                        if (file >= 5120) {
                            Swal.fire("Oops!", "File too Big, please select a file less than 5 kb", "error");
                            return false;
                        }
                        else {
                            Swal.fire("Done!", "File size is " + file + "kb", "success");
                        }
                    }
                }
            }
        </script>*@
</body>

<!--end::Body-->
</html>
