@model ASNTechnosoft.Areas.Admin.Models.PaytmResponse
@{
    ViewBag.Title = "Paytm Payment Response";
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <base href="../../../">
    <meta charset="utf-8">
    <title>Metronic | Wizard 1</title>

    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="/Content/dist/assets/plugins/global/plugins.bundle.css?v=7.0.4" rel="stylesheet" type="text/css">
    <link href="/Content/dist/assets/plugins/custom/prismjs/prismjs.bundle.css?v=7.0.4" rel="stylesheet" type="text/css">
    <link href="/Content/dist/assets/css/style.bundle.css?v=7.0.4" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/Content/dist/assets/media/logos/ASNLogo.jpg" />
    @*<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>*@
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>
<body>

    <div class="row mt-0 mt-lg-3">
        <div class="col-xl-3">

        </div>
        <div class="col-xl-6">
            <!--begin::Mixed Widget 18-->
            <div class="card card-custom gutter-b card-stretch">
                <!--begin::Header-->
                <div class="card-header">
                    <div class="card-title font-weight-bolder">
                        <div class="card-label">
                            Receipt
                            @*<div class="font-size-sm text-muted mt-2">890,344 Sales</div>*@
                        </div>
                    </div>

                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body">
                    <!--begin::Chart-->
                    <div class="dvprint">
                    @if (ViewBag.Show)
                    {
                        <div align="center">
                            <img src="~/Content/dist/assets/media/image/SuccessfulPayment.png" style="width: 400px; height: 200px;" />
                        </div>
                    }
                    else
                    {
                        <div align="center">
                            <img src="~/Content/dist/assets/media/image/Failed Payment.png" style="width: 400px; height: 200px;" />
                        </div>
                    }

                    <br />
                    <div class="mt-n10 my-2 p-1 position-relative zindex-0">



                        <table class="table table-bordered dt-center">
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center mb-8">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-circle symbol-40 symbol-light mr-1 flex-shrink-0">
                                            <div class="symbol-label">
                                                <span class="svg-icon svg-icon-lg svg-icon-primary">
                                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Media/Equalizer.svg-->
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <path d="M9.82829464,16.6565893 C7.02541569,15.7427556 5,13.1079084 5,10 C5,6.13400675 8.13400675,3 12,3 C15.8659932,3 19,6.13400675 19,10 C19,13.1079084 16.9745843,15.7427556 14.1717054,16.6565893 L12,21 L9.82829464,16.6565893 Z M12,12 C13.1045695,12 14,11.1045695 14,10 C14,8.8954305 13.1045695,8 12,8 C10.8954305,8 10,8.8954305 10,10 C10,11.1045695 10.8954305,12 12,12 Z" fill="#000000" />
                                                        </g>
                                                    </svg>
                                                    <!--end::Svg Icon-->
                                                </span>
                                            </div>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::Title-->
                                        <div>
                                            <a href="#" class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder">Institute Name</a>
                                            <div class="font-size-h6 text-dark font-weight-bold mt-1">@Html.DisplayFor(m => m.InstituteName)</div>
                                        </div>
                                        <!--end::Title-->
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center mb-8">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-circle symbol-40 symbol-light mr-1 flex-shrink-0">
                                            <div class="symbol-label">
                                                <span class="svg-icon svg-icon-lg svg-icon-primary">
                                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Media/Equalizer.svg-->
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24"></rect>
                                                            <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5"></rect>
                                                            <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5"></rect>
                                                            <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5"></rect>
                                                            <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5"></rect>
                                                        </g>
                                                    </svg>
                                                    <!--end::Svg Icon-->
                                                </span>
                                            </div>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::Title-->
                                        <div>
                                            <a href="#" class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder">Transaction no.</a>
                                            <div class="font-size-sm text-dark font-weight-bold mt-1">@Html.DisplayFor(m => m.TXNID)</div>
                                        </div>
                                        <!--end::Title-->
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center mb-8">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-circle symbol-40 symbol-light mr-1 flex-shrink-0">
                                            <div class="symbol-label">
                                                <span class="svg-icon svg-icon-lg svg-icon-primary">
                                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Shopping/Chart-pie.svg-->
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <polygon points="0 0 24 0 24 24 0 24" />
                                                            <path d="M3.52270623,14.028695 C2.82576459,13.3275941 2.82576459,12.19529 3.52270623,11.4941891 L11.6127629,3.54050571 C11.9489429,3.20999263 12.401513,3.0247814 12.8729533,3.0247814 L19.3274172,3.0247814 C20.3201611,3.0247814 21.124939,3.82955935 21.124939,4.82230326 L21.124939,11.2583059 C21.124939,11.7406659 20.9310733,12.2027862 20.5869271,12.5407722 L12.5103155,20.4728108 C12.1731575,20.8103442 11.7156477,21 11.2385688,21 C10.7614899,21 10.3039801,20.8103442 9.9668221,20.4728108 L3.52270623,14.028695 Z M16.9307214,9.01652093 C17.9234653,9.01652093 18.7282432,8.21174298 18.7282432,7.21899907 C18.7282432,6.22625516 17.9234653,5.42147721 16.9307214,5.42147721 C15.9379775,5.42147721 15.1331995,6.22625516 15.1331995,7.21899907 C15.1331995,8.21174298 15.9379775,9.01652093 16.9307214,9.01652093 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                        </g>
                                                    </svg>
                                                    <!--end::Svg Icon-->
                                                </span>
                                            </div>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::Title-->
                                        <div>
                                            <a href="#" class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder">Amount</a>
                                            <div class="font-size-h6 text-dark font-weight-bold mt-1">@Html.DisplayFor(m => m.TXNAMOUNT)</div>
                                        </div>
                                        <!--end::Title-->
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center mb-8">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-circle symbol-40 symbol-light mr-1 flex-shrink-0">
                                            <div class="symbol-label">
                                                <span class="icon primary">
                                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Shopping/Chart-pie.svg-->
                                                    @*<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <path d="M4.00246329,12.2004927 L13,14 L13,4.06189375 C16.9463116,4.55399184 20,7.92038235 20,12 C20,16.418278 16.418278,20 12,20 C7.64874861,20 4.10886412,16.5261253 4.00246329,12.2004927 Z" fill="#000000" opacity="0.3"></path>
                                                <path d="M3.0603968,10.0120794 C3.54712466,6.05992157 6.91622084,3 11,3 L11,11.6 L3.0603968,10.0120794 Z" fill="#000000"></path>
                                            </g>
                                        </svg>*@
                                                    <i class="flaticon-calendar-with-a-clock-time-tools text-primary"></i>
                                                    <!--end::Svg Icon-->
                                                </span>
                                            </div>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::Title-->
                                        <div>
                                            <a href="#" class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder">Transaction Date</a>
                                            <div class="font-size-h6 text-dark font-weight-bold mt-1">@Html.DisplayFor(m => m.TXNDATE)</div>
                                        </div>
                                        <!--end::Title-->
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center mb-8">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-circle symbol-40 symbol-light mr-1 flex-shrink-0">
                                            <div class="symbol-label">
                                                <span class="svg-icon svg-icon-lg svg-icon-primary">
                                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Shopping/Chart-pie.svg-->
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <rect fill="#000000" opacity="0.3" x="2" y="5" width="20" height="14" rx="2" />
                                                            <rect fill="#000000" x="2" y="8" width="20" height="3" />
                                                            <rect fill="#000000" opacity="0.3" x="16" y="14" width="4" height="2" rx="1" />
                                                        </g>
                                                    </svg>
                                                    <!--end::Svg Icon-->
                                                </span>
                                            </div>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::Title-->
                                        <div>
                                            <a href="#" class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder">Payment Mode</a>
                                            <div class="font-size-h6 text-dark font-weight-bold mt-1">@Html.DisplayFor(m => m.PAYMENTMODE)</div>
                                        </div>
                                        <!--end::Title-->
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center mb-8">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-circle symbol-40 symbol-light mr-1 flex-shrink-0">
                                            <div class="symbol-label">
                                                <span class="svg-icon svg-icon-lg svg-icon-primary">
                                                    <i class="flaticon-piggy-bank text-primary"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::Title-->
                                        <div>
                                            <a href="#" class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder">Bank</a>
                                            <div class="font-size-h6 text-dark font-weight-bold mt-1">@Html.DisplayFor(m => m.BANKNAME)</div>
                                        </div>
                                        <!--end::Title-->
                                    </div>
                                </td>
                            </tr>
                        </table>



                    </div>
                    <!--end::Items-->
                    </div>
                    <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                        <div class="col-md-9">
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-bg-primary font-weight-bold text-uppercase" onclick="window.print('.dvprint');">Print</button>
                                <a href="@Url.Action("Index","Dashboard")" id="backLink" class="btn btn-bg-danger font-weight-bold text-uppercase">Go to Dashboard</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Body-->
            </div>

            <!--end::Mixed Widget 18-->
        </div>
        <div class="col-xl-4">
        </div>
    </div>


































    @*<h2>Paytm Payment Response</h2>

    <div align="center">
        <table class="table table-bordered dt-center" border="1" width="50%">
            <tr>
                <td>@Html.DisplayNameFor(m => m.InstituteId)</td>
                <td>@Html.DisplayFor(m => m.InstituteId)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.InstituteName)</td>
                <td>@Html.DisplayFor(m => m.InstituteName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.ORDERID)</td>
                <td>@Html.DisplayFor(m => m.ORDERID)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.TXNAMOUNT)</td>
                <td>@Html.DisplayFor(m => m.TXNAMOUNT)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.CURRENCY)</td>
                <td>@Html.DisplayFor(m => m.CURRENCY)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.TXNID)</td>
                <td>@Html.DisplayFor(m => m.TXNID)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.BANKTXNID)</td>
                <td>@Html.DisplayFor(m => m.BANKTXNID)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.STATUS)</td>
                <td>@Html.DisplayFor(m => m.STATUS)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.RESPCODE)</td>
                <td>@Html.DisplayFor(m => m.RESPCODE)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.RESPMSG)</td>
                <td>@Html.DisplayFor(m => m.RESPMSG)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.TXNDATE)</td>
                <td>@Html.DisplayFor(m => m.TXNDATE)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.GATEWAYNAME)</td>
                <td>@Html.DisplayFor(m => m.GATEWAYNAME)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.BANKNAME)</td>
                <td>@Html.DisplayFor(m => m.BANKNAME)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.PAYMENTMODE)</td>
                <td>@Html.DisplayFor(m => m.PAYMENTMODE)</td>
            </tr>
        </table>

    </div>*@

    @*<script>
            debugger;
            function noBack() { window.history.forward() }
            noBack();
            window.onload = noBack;
            window.onpageshow = function (evt) { if (evt.persisted) noBack() }
            window.onunload = function () { void (0) }
        </script>*@
</body>
</html>
    