@model IMS.Controllers.PaytmPaymentController.TransactionModel
@{
    ViewBag.Title = "TestView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>View Transaction</title>
    <meta name="description" content="Scrollable datatables examples" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="/Content/dist/assets/plugins/custom/datatables/datatables.bundle.css?v=7.0.4" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="/Content/dist/assets/plugins/global/plugins.bundle.css?v=7.0.4" rel="stylesheet" type="text/css" />
    <link href="/Content/dist/assets/plugins/custom/prismjs/prismjs.bundle.css?v=7.0.4" rel="stylesheet" type="text/css" />
    <link href="/Content/dist/assets/css/style.bundle.css?v=7.0.4" rel="stylesheet" type="text/css" />
 
    <style>
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled page-loading">
    <div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-2 mr-5">Wallet</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">View Transactions</a>
                        </li>

                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->

        </div>
    </div>
    <div class="container">

        <!--begin::Card-->
        <div class="card">
            <div class="card-header flex-wrap border-0 pt-6 pb-0">
                <div class="card-title">
                    <h3 class="card-label">
                        E-wallet Transactions
                    </h3>
                </div>
            </div>
            <div class="card-body">
                @Html.HiddenFor(model => model.InstituteId)
                <table class="table table-bordered table-hover table-checkable dataTable no-footer collapsed ">
                    <thead>
                        <tr style="background-color:cadetblue">
                            <th>
                                <label class="font-weight-boldest text-dark">Institute Name</label>
                            </th>
                            <th>
                                <label class="font-weight-boldest text-dark"> Total Deposited</label>
                            </th>
                            <th>
                                <label class="font-weight-boldest text-dark">Total Utilized</label>
                            </th>
                            <th>
                                <label class="font-weight-boldest text-dark">Balance Amount</label>
                            </th>
                            <th>View Statement</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>
                                @Html.DisplayFor(model => model.InstituteName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.DepositedAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.UtilizedAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.AvailableAmount)
                            </td>
                            <td>
                                <a href="@Url.Action("ViewStatement","PaytmPayment",new { instituteid=@Model.InstituteId})" title="View Statement" data-toggle="tooltip" data-theme="dark" class="btn btn-sm btn-info btn-icon mr-2 btn-info">
                                    <i class="flaticon2-open-text-book"></i>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>



                <div class="separator separator-dashed my-5"></div>
                @if (ViewBag.ShowDiv)
                {
                    <div id="content">
                        <h3><b>My Transactions</b></h3>
                        <div class="row">
                            <div id="buttons"></div>
                        </div>
                        <br />
                        <table class="table table-bordered table-hover table-checkable dataTable no-footer collapsed " id="transaction">
                            <thead>
                                <tr style="background-color:cadetblue">
                                    <th>Sr. No.</th>
                                    <th>Transaction Date</th>
                                    <th>Transaction Type</th>
                                    <th>LearnerId</th>
                                    <th>Amount</th>
                                    <th>Payment Type</th>
                                    <th>Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int index = 1;}
                                @foreach (var transation in Model.walletTransaction)
                                {
                                    <tr>
                                        <td>@index</td>
                                        @{ index++; }
                                        <td>@transation.TransactionDate</td>
                                        <td>@transation.TransactionType</td>
                                        <td>@transation.LearnerId</td>
                                        <td>@transation.Amount</td>
                                        <td>@transation.PaymentType</td>
                                        <td>@transation.AdminRemark</td>
                                    </tr>

                                }
                            </tbody>
                        </table>

                    </div>
                }
            </div>
        </div>
    </div>
   
    <script>var HOST_URL = "https://keenthemes.com/metronic/tools/preview";</script>
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="/Content/dist/assets/plugins/global/plugins.bundle.js?v=7.0.4"></script>
    <script src="/Content/dist/assets/plugins/custom/prismjs/prismjs.bundle.js?v=7.0.4"></script>
    <script src="/Content/dist/assets/js/scripts.bundle.js?v=7.0.4"></script>
    <!--end::Global Theme Bundle-->
    <!--begin::Page Vendors(used by this page)-->
    <script src="/Content/dist/assets/plugins/custom/datatables/datatables.bundle.js?v=7.0.4"></script>

    <script>
        jQuery(document).ready(function ($) {
            var table = $('#transaction').DataTable({
                "pageLength": 25,
            });
            var buttons = new $.fn.dataTable.Buttons(table, {
                buttons: [
                    {
                        extend: 'collection',
                        text: '<span class="svg-icon svg-icon-md svg-icon-primary"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24" /><path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3" /><path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000" /></g></svg></span>Export',
                        className: 'btn-primary',
                        buttons: [
                            {
                                extend: 'print',
                                text: '<i class="la la-print text-success"></i> PRINT',
                                titleAttr: 'PRINT'
                            },
                            {
                                extend: 'pdfHtml5',
                                text: '<i class="la la-file-pdf-o text-danger"></i> PDF',
                                titleAttr: 'PDF'
                            },
                            {
                                extend: 'excelHtml5',
                                text: '<i class="la la-file-excel-o text-success"></i> EXCEL',
                                titleAttr: 'Excel'
                            },
                            {
                                extend: 'csvHtml5',
                                text: '<i class="la la-file-text-o text-primary"></i> CSV',
                                titleAttr: 'CSV'
                            },
                            {
                                extend: 'copyHtml5',
                                text: '<i class="la la-copy text-warning"></i> COPY',
                                titleAttr: 'Copy',
                                className: 'blue'
                            },
                        ]
                    }

                ]
            }).container().appendTo($('#buttons'));

        });
    </script>
</body>

</html>